<div class="question">
  <h2><%= @question.title %></h2>
  <p><%= @question.content %></p>
  <p>You can come back to your question at:
    <%= link_to request.original_url, questions_path(@question) %>
</div>
