html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  display: block;
  font: 100% Verdana, sans-serif;
  color: black;
  background: -webkit-linear-gradient(#7e7e7e, #545454);
  background: -o-linear-gradient(#7e7e7e, #545454);
  background: -moz-linear-gradient(#7e7e7e, #545454);
  background: linear-gradient(#7e7e7e, #545454); 
}

nav {
  display: block;
  padding: 12px;
  border-radius: 10px;
  background: linear-gradient(#873ED1, #49198E);
  color: white; }

nav a {
  color: white; 
}

a{
  color: black;
}

a:hover {
  color: white; 
}

nav a {
 display: inline;
 width: 20%;
 float: right;
}

.content {
  background: linear-gradient(#873ED1, #49198E);
  width: 40%;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 2em;
  border: 3px solid black; 
  border-radius: 12px;
}

.content form input    {
margin: auto;
margin-bottom: 2em;
width: 20em;
display:block;
border: 1px solid #999;

-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
} 

.content form input button  {
 border-radius: 12px;
}

#question_content {
  margin: auto;
  margin-bottom: 2em;
  display: block;
  width: 20em;
  border: 1px dotted #999;
  border-radius: 0;
  background: white;
}

li{
    list-style-type: none;
}

.answers{
  width: 80%;
  margin: auto;
}
h3{
  color: #9D12B0;
}
h2{
  color: #9D12B0;
}
h4{
  color: #9D12B0;
}

.question{
  margin-top: 3em;
  border-bottom: 1px solid black;
}
