@import "bourbon/bourbon";
@import "neat/neat";

$font-stack: Verdana, sans-serif;
$primary-color: black;
$nav-color: gradient(#873ED1, #49198E);
$nav-font: white;

body{
  display: block;
  font: 100% $font-stack;
  color: $primary-color;
  background: -webkit-linear-gradient(white, grey);
  background: -o-linear-gradient(white, grey);
  background: -moz-linear-gradient(white, grey);
  background: linear-gradient(white, grey);
}

nav{
  display: block;
  padding: 12px;
  border-radius: 10px;
  background: linear-gradient(#873ED1, #49198E);
  color: $nav-font;
}

nav h1{
  width: 20%;
  display: inline;
}

nav ul{
  margin-left: 25em;
  width: 50%;
  display: inline;
}

nav ul li{
  list-style-type: none;
  display: inline;
}


nav a {
  color: white;
}
/*a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}
*/

.content{
 width: 60%;
 margin: auto;

}
