

$font-stack: Verdana, sans-serif;
$primary-color: black;
$nav-font: white;

body{
  font-family: $font-stack;
  color: $primary-color;
  background: grey;
}

nav{
  padding: 12px;
  border-radius: 10px;
  background: #49198E;
  color: $nav-font;
}

nav h1{
  width: 20%;
  display: inline;
}

nav ul{
  margin-left: 25em;
 width: 50%;
 display: inline;
}

nav ul li{
  list-style-type: none;
  display: inline;
}
