<header>
	<nav>
		<ul>
				<li><a href="/">Home</a></li>
			<% if logged_in? %>
				<li><%= link_to "Log Out", logout_path, method: "delete" %></li>
			<% else %>
				<li><%= render 'users/login' %></li>
			<% end %>
		</ul>
	</nav>
</header>
